---
import Header from '../../components/Header.astro';
import HeroInner from '../../components/HeroInner.astro';
import InnerPagesTwoColumnBg from '../../components/InnerPagesTwoColumnBg.astro';
import OneColumnText from '../../components/OneColumnText.astro';
import ThreeBottom from '../../components/ThreeBottom.astro';
import TwoColumnImgRight from '../../components/TwoColumnImgRight.astro';
import TwoColumnLeft from '../../components/TwoColumnLeft.astro';
import Footer from '../../layout/footer.astro';
import SiteLayout from '../../layouts/SiteLayout.astro';
const title = 'Belfast';
---

<SiteLayout
    title={title}
    keywords=`Strony internetowe ${title}, strony ${title}, strony www ${title}, strona ${title}, strona www ${title}, strona internetowa ${title}, tworzenie strony ${title}, strony flash ${title}, strony we flashu ${title}, strony www za darmo ${title}, tanie strony internetowe ${title}, tanie strony ${title}, tanie strony www ${title}, tanie www ${title}, najlepsze strony ${title}, projektowanie www ${title}, tworzenie www ${title}, projektowanie i tworzenie stron www ${title}, projektowanie i tworzenie stron ${title}, stron www ${title}, jak założyć stronę www ${title}, jak zalozyc strone ${title}, agencja design w ${title}ie, agencja reklamy ${title}, reklama ${title}`
    desc=`Strony internetowe ${title}, strony ${title}, strony www ${title}, strona ${title}, strona www ${title}, strona internetowa ${title}, tworzenie strony ${title}, strony flash ${title}, strony we flashu ${title}, strony www za darmo ${title}, tanie strony internetowe ${title}, tanie strony ${title}, tanie strony www ${title}, tanie www ${title}, najlepsze strony ${title}, projektowanie www ${title}, tworzenie www ${title}, projektowanie i tworzenie stron www ${title}, projektowanie i tworzenie stron ${title}, stron www ${title}, jak założyć stronę www ${title}, jak zalozyc strone ${title}, agencja design w ${title}ie, agencja reklamy ${title}, reklama ${title}`
/>
<Header />
<HeroInner
    subtitle="Tworzymy strony, które rozwijają Twój biznes!"
    title1="Strony internetowe "
    title2={title}
/>
<!-- <LogoCarousel /> -->
<div class="container mx-auto my-20 px-5 md:px-0">
    <h2 class="text-gradient font-bold text-4xl mb-4 leading-normal">
        Strony internetowe {title} najwyższej jakości
    </h2>
    <p class="text-justify">
        Myślisz o profesjonalnej stronie internetowej w {title}, która przyciągnie więcej klientów do Twojej Firmy?
        Świetnie trafileś! Nasze strony internetowe to gwarancja twojego sukcesu w internecie! Strony internetowe są
        dziś najpopularniejszym narzędziem marketingowym do promocji Twojej Firmy. Oferowane przez nas strony
        internetowe w {title}ie to klucz do sukcesu nowoczesnego biznesu. W dzisiejszym świecie nie trzeba bardzo
        przekonywać do posiadania i promocji strony www. Strony internetowe {title} są bowiem wizytówką firmy a elegancka,
        estetyczna i dobrze skonstruowana strona internetowa jest tak samo ważna, jak dobra obsługa klienta czy udana prezentacja
        produktów. Strony internetowe {title} nie tylko dostarczają informacji i usprawniają kontakt, ale także budują wizerunek
        i markę firmy. Pozwalają na utrwalenie wizerunku Twojej Firmy w internecie oraz zdobycie nowych klientów. Krótko
        mówiąc, strony internetowe {title} są dziś najpopularniejszym narzędziem marketingowym do promocji Twojej Firmy.
        Oferowane przez nas strony internetowe w UK to klucz do sukcesu nowoczesnego biznesu!
    </p>
    <h2 class="text-gradient font-bold text-4xl my-4 leading-normal">
        Dlaczego nasze strony internetowe są lepsze od innych?
    </h2>
    <h3 class="font-bold text-2xl leading-normal">Strony internetowe w Bristolu. W ofercie:</h3>
    <ul class="list-disc ml-5">
        <li>Profesjonalny projekt graficzny zawsze dostosowany do indywidualnych potrzeb</li>
        <li>Funkcjonalność strony zgodna ze standardami www</li>
        <li>Rejestracja oraz pozycjonowanie strony www w Google</li>
        <li>Domena, serwer i konto e-mail na 1 rok</li>
        <li>Galeria zdjęć na stronie</li>
        <li>Wiele opcji językowych</li>
        <li>Statystyki strony www oraz odwiedzin</li>
        <li>Wygodną nawigację, przyjazną dla każdego użytkownika</li>
    </ul>
    <h3 class="font-bold text-2xl leading-normal mt-8">Etapy Realizacji</h3>
    <p class="text-justify">
        Dopasowujemy wygląd strony www do oczekiwań i preferencji klienta. Po dokonaniu wyboru nazwy witryny wybieramy
        domenę oraz serwer (miejsce na dysku) , na którym strona będzie utrzymywana. Następnie tworzymy konta e-mail. Na
        stronie głównej pojawia się wówczas nazwa oraz informacja o aktualnej budowie strony. Następnie wykonujemy
        projekt graficzny strony www, przedstawiamy kilka opcji do wyboru, a po zatwierdzeniu przez klienta budujemy
        odpowiednie moduły (formularz kontaktu, galerie, animacje i inne).
    </p>
    <h3 class="font-bold text-2xl leading-normal mt-8">
        Nowoczesne strony internetowe Czym charakteryzuje się nowoczesna strona internetowa?
    </h3>
    <p class="text-justify">
        Wykonywane przez nas strony www dla klientów w {title} nie tylko ładnie wyglądają, ale przede wszystkim spełniaja
        swoją fukcję: przyciągaja nowych klientow i budują silny wizerunek firmy w internecie. Ponioeważ technologia zmienia
        się w ostatnich latach bardzo szybko my również musimy odpowiadać na te zmiany. Nowoczesna strona internetowa jest
        responsywna czyli dostosowana do szerokości wsyzyskich monitorów, ekranów i urządzeń mobilnych. Zatem jeśli
        {title} to twoje miasto zamieszkania i poszukujesz profesjonalisty, zadzwoń do nas juz dziś- zadbamy o wizerunek
        twojej firmy w internecie!
    </p>
</div>
<!--  <ServicesBoxes />
    <HowToStart />
    <Testimonials />
    <Prices />
    <Form /> -->
<TwoColumnImgRight
    showPlural="true"
    title="Dlaczego jesteśmy najlepsi?"
    text="Szukasz profesjonalnej firmy z UK, która zaprojektuje nowoczesną i funkcjonalną stronę internetową? Grafit to idealne rozwiązanie dla Ciebie! Nasze strony internetowe wyróżniają się nie tylko atrakcyjną ceną, ale także wysoką jakością wykonania i nowoczesnym designem. Każdy projekt jest indywidualnie dopasowany do potrzeb klienta, zapewniając łatwą i intuicyjną obsługę. Dbamy o to, aby każda strona www była nie tylko estetyczna, ale także funkcjonalna, co przyczynia się do pozytywnego doświadczenia użytkownika i lepszego pozycjonowania w Google. Nasze strony internetowe charakteryzują się responsywnością, szybkością ładowania oraz optymalizacją pod kątem SEO, co sprawia, że Twoja firma zyskuje większą widoczność w internecie. Zapraszamy do kontaktu telefonicznego lub osobistego w naszej warszawskiej siedzibie, gdzie szczegółowo omówimy Twój projekt i zaprezentujemy, jak nasze strony internetowe mogą pomóc w rozwoju Twojego biznesu. "
/>
<TwoColumnLeft
    title="Po co mi strona internetowa?/ Zwiększ zysk swojej firmy"
    text=" Jeśli szukasz profesjonalnej firmy, która zaprojektuje dla Ciebie nowoczesną i funkcjonalną stronę internetową, trafiłeś we właściwe miejsce. Nasza oferta stron internetowych skierowana jest do firm, które pragną zwiększyć swoją obecność w Internecie i dotrzeć do nowych klientów. Dzięki doświadczeniu w branży web designu oraz znajomości najlepszych praktyk SEO, oferujemy tworzenie stron www, które są nie tylko estetyczne, ale także łatwe w obsłudze i przyjazne dla wyszukiwarek internetowych. Nasze strony internetowe charakteryzują się nowoczesnym designem, intuicyjną nawigacją i responsywnością, co zapewnia doskonałe działanie na różnych urządzeniach - komputerach, tabletach i telefonach. Każdy projekt jest dostosowany do indywidualnych potrzeb klienta oraz specyfiki branży, co pozwala na stworzenie strony, która skutecznie przyciąga uwagę użytkowników i zachęca ich do interakcji. Tworzymy strony internetowe, które są w pełni zoptymalizowane pod kątem SEO. Dzięki temu Twoja strona ma większą szansę na wysoką pozycję w wynikach wyszukiwania Google, co wpływa na większą widoczność Twojej firmy i przyciąga nowych klientów. Oferujemy również kompleksowe usługi związane z aktualizacją, konserwacją i poprawą wydajności stron, aby zapewnić ich długoterminową efektywność. Zapewniamy pełne wsparcie na każdym etapie projektu, od koncepcji po wdrożenie, oraz oferujemy atrakcyjne ceny, które sprawiają, że nasze usługi są dostępne dla firm o różnych budżetach. Skontaktuj się z nami już dziś i przekonaj się, jak nasze strony internetowe mogą pomóc w rozwoju Twojego biznesu!"
/>

<ThreeBottom
    title1="20"
    subtitle1="lat doświadczenia"
    text1="Zaufaj naszemu doświadczeniu i powiedz co możemy dla Ciebie zrobić."
    title2="1300"
    subtitle2="stron internetowych"
    text2="Zobacz wybrane realizacje i skorzystaj z naszej oferty."
    title3="24"
    subtitle3="miesięcy gwarancji"
    text3="Masz pewność, że otrzymujesz produkt wysokiej jakości. "
/>
<InnerPagesTwoColumnBg />
<OneColumnText />
<Footer />
