---
const { title1, subtitle1, text1, title2, subtitle2, text2, title3, subtitle3, text3 } = Astro.props;
---

<section class="mx-auto mt-20 mb-16 px-5 backround">
    <div class="relative overflow-hidden rounded-2xl">
        <div class="absolute inset-0">
            <img
                src="/src/images/pink-bg-1.svg"
                alt="Background Image"
                class="object-cover object-center w-full h-full"
            />
        </div>
        <div class="container relative mx-auto px-16 py-8 sm:px-8 lg:px-16 lg:py-14">
            <div class="columns-1 md:columns-3 gap-0">
                <div class="text-center mx-8">
                    <h4 class="font-bold text-7xl mb-3 text-white">{title1}</h4>
                    <p class="font-bold text-xl text-blue-500 mb-2">{subtitle1}</p>
                    <p>{text1}</p>
                </div>
                <div class="text-center mx-8">
                    <h4 class="font-bold text-7xl mb-3 text-white">{title2}</h4>
                    <p class="font-bold text-xl text-blue-500 mb-2">{subtitle2}</p>
                    <p>{text2}</p>
                </div>
                <div class="text-center mx-8">
                    <h4 class="font-bold text-7xl mb-3 text-white">{title3}</h4>
                    <p class="font-bold text-xl text-blue-500 mb-2">{subtitle3}</p>
                    <p>{text3}</p>
                </div>
            </div>
        </div>
    </div>
</section>
