---
import { Image } from 'astro:assets';
import projektImg from './../images/strona-internetowa-budowa.jpg';

const { title, subtitle, text, text2 } = Astro.props;
---

<section>
    <div class="columns-1 md:columns-2 gap-0">
        <Image
            class="max-w-full"
            alt="logo"
            src={projektImg}
        />
        <div class="mx-8 text-justify">
            <p class="font-bold text-xl mt-6 text-blue-500">{subtitle}</p>
            <h4 class="text-gradient font-bold text-4xl mb-4 mt-12 leading-normal">{title}</h4>
            <p>{text}</p>
            <p>{text2}</p>
        </div>
    </div>
</section>
